<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- READ_COUNT -> readCount 처럼 카멜 케이스로 변환 되게 합니다. -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<typeAlias alias="Member" type="com.example.demo.data.domain.Member" />
		<!-- @Alias("aliasName") 을 domain 객체에 작성하여 사용-->
		<package name="com.example.demo.data.domain" />
	</typeAliases>
</configuration>